/* font-family: 'Roboto', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */
body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height:1rem;
}
a {
    text-decoration: none;
}
hr {
    margin-bottom: 60px;
}
table i {
    height: 15px;
    width: 15px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
/* select.form-control {
    width:unset;
}
select.col-8 {
    width: 66.66666667%;
} */
.addfield {
    width: 50px;
    margin-left: 20px;
}
.body-wrapper {
    min-height: 650px;
    background-color: whitesmoke;
}

.left {
    width:350px;
    flex-shrink:0;
    background-color: #223855;
    background-image: url('../assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
    position: fixed;
    height: 100%;
}
.right {
    width:100%;
    flex-shrink:1;
    margin-left: 350px;
    min-height:100vh;
}

.menu ul {
    list-style-type: none;
    padding:0;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.menu ul li a {
    background-color: #223855;
    display: flex;
    text-align: center;
    margin: 10px;
    width: 120px;
    height: 120px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 1px #847e7e;
    padding:10px;
    line-height: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 10px;
}

.menu ul li a i {
    display: block;
    width: 100%;
    font-size:1.5rem;
    padding-bottom: 8px;
}

.menu ul li a div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px 0;
}

main {
    width: 100%;
    background: white;
    min-height: 550px;
    border-radius: 8px;
    padding: 20px;
    /* font-family: 'Roboto', sans-serif; */
}

/* Add Asterisk into a <label></label> */
.required:after {
  content:"*";
  color:red;
}

.multiple-select select {
    width:auto;
}

.multiple-select.form-group {
    background-color:whitesmoke;
}